* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.App {
  font-family: sans-serif;
  text-align: center;
  background: #b983ff;
  color: #fff;
  min-height: 100vh;
}

/* Fade, Flip, Zoom, SlideIn aos */
.aos__fade,
.aos__flip,
.aos__zoom,
.aos__slidein {
  padding: 50px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.aos__fade h1,
.aos__flip h1,
.aos__zoom h1,
.aos__slidein h1 {
  margin: 25px auto;
}
.aos__fade-box,
.aos__flip-box,
.aos__zoom-box,
.aos__slidein-box {
  width: 300px;
  height: 150px;
  background: #161e54;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 3px solid #fbf3e4;
  border-radius: 4px;
}
